.footer {
  background-color: var(--gray-dark);
  color: white;
}

.link {
  text-decoration: none !important;
  color: inherit !important;
}

.gitlab_logo {
  filter: contrast(0.5);
  padding-bottom: 0.3rem;
}
